<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="responsavel">
      <h2 data-cy="responsavelDetailsHeading"><span jhiTranslate="madmApp.responsavel.detail.title">Responsavel</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ responsavel.id }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.responsavel.nomeDepartamento">Nome Departamento</span></dt>
        <dd>
          <span>{{ responsavel.nomeDepartamento }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.responsavel.utilizacao">Utilizacao</span></dt>
        <dd>
          <span>{{ responsavel.utilizacao }}</span>
        </dd>
        <dt><span jhiTranslate="madmApp.responsavel.nomeResponsavel">Nome Responsavel</span></dt>
        <dd>
          <span>{{ responsavel.nomeResponsavel }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/responsavel', responsavel.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
