<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-responsavel-heading" data-cy="ResponsavelCreateUpdateHeading" jhiTranslate="madmApp.responsavel.home.createOrEditLabel">
        Create or edit a Responsavel
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.responsavel.nomeDepartamento" for="field_nomeDepartamento"
            >Nome Departamento</label
          >
          <input
            type="text"
            class="form-control"
            name="nomeDepartamento"
            id="field_nomeDepartamento"
            data-cy="nomeDepartamento"
            formControlName="nomeDepartamento"
          />
          <div
            *ngIf="
              editForm.get('nomeDepartamento')!.invalid &&
              (editForm.get('nomeDepartamento')!.dirty || editForm.get('nomeDepartamento')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nomeDepartamento')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.responsavel.utilizacao" for="field_utilizacao">Utilizacao</label>
          <input
            type="text"
            class="form-control"
            name="utilizacao"
            id="field_utilizacao"
            data-cy="utilizacao"
            formControlName="utilizacao"
          />
          <div *ngIf="editForm.get('utilizacao')!.invalid && (editForm.get('utilizacao')!.dirty || editForm.get('utilizacao')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('utilizacao')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.responsavel.nomeResponsavel" for="field_nomeResponsavel"
            >Nome Responsavel</label
          >
          <input
            type="text"
            class="form-control"
            name="nomeResponsavel"
            id="field_nomeResponsavel"
            data-cy="nomeResponsavel"
            formControlName="nomeResponsavel"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
