<div>
  <h2 id="page-heading" data-cy="ServicoHeading">
    <span jhiTranslate="madmApp.servico.home.title">Servicos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="madmApp.servico.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-servico"
        [routerLink]="['/servico/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="madmApp.servico.home.createLabel"> Create a new Servico </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="servicos?.length === 0">
    <span jhiTranslate="madmApp.servico.home.notFound">No servicos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="servicos && servicos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="madmApp.servico.codServico">Cod Servico</span></th>
          <th scope="col"><span jhiTranslate="madmApp.servico.tipoServico">Tipo Servico</span></th>
          <th scope="col"><span jhiTranslate="madmApp.servico.descricao">Descricao</span></th>
          <th scope="col"><span jhiTranslate="madmApp.servico.dataServico">Data Servico</span></th>
          <th scope="col"><span jhiTranslate="madmApp.servico.equipamento">Equipamento</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let servico of servicos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/servico', servico.id, 'view']">{{ servico.id }}</a>
          </td>
          <td>{{ servico.codServico }}</td>
          <td jhiTranslate="{{ 'madmApp.TipoServico.' + servico.tipoServico }}">{{ servico.tipoServico }}</td>
          <td>{{ servico.descricao }}</td>
          <td>{{ servico.dataServico | formatMediumDate }}</td>
          <td>
            <div *ngIf="servico.equipamento">
              <a [routerLink]="['/equipamento', servico.equipamento?.id, 'view']">{{ servico.equipamento?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/servico', servico.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/servico', servico.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(servico)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
