<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-insumo-heading" data-cy="InsumoCreateUpdateHeading" jhiTranslate="madmApp.insumo.home.createOrEditLabel">
        Create or edit a Insumo
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.insumo.codInsumo" for="field_codInsumo">Cod Insumo</label>
          <input type="text" class="form-control" name="codInsumo" id="field_codInsumo" data-cy="codInsumo" formControlName="codInsumo" />
          <div *ngIf="editForm.get('codInsumo')!.invalid && (editForm.get('codInsumo')!.dirty || editForm.get('codInsumo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('codInsumo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.insumo.tipoInsumo" for="field_tipoInsumo">Tipo Insumo</label>
          <select class="form-control" name="tipoInsumo" formControlName="tipoInsumo" id="field_tipoInsumo" data-cy="tipoInsumo">
            <option [ngValue]="null">{{ 'madmApp.TipoInsumo.null' | translate }}</option>
            <option *ngFor="let tipoInsumo of tipoInsumoValues" [value]="tipoInsumo">
              {{ 'madmApp.TipoInsumo.' + tipoInsumo | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('tipoInsumo')!.invalid && (editForm.get('tipoInsumo')!.dirty || editForm.get('tipoInsumo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tipoInsumo')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.insumo.fabricante" for="field_fabricante">Fabricante</label>
          <input
            type="text"
            class="form-control"
            name="fabricante"
            id="field_fabricante"
            data-cy="fabricante"
            formControlName="fabricante"
          />
          <div *ngIf="editForm.get('fabricante')!.invalid && (editForm.get('fabricante')!.dirty || editForm.get('fabricante')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fabricante')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.insumo.modelo" for="field_modelo">Modelo</label>
          <input type="text" class="form-control" name="modelo" id="field_modelo" data-cy="modelo" formControlName="modelo" />
          <div *ngIf="editForm.get('modelo')!.invalid && (editForm.get('modelo')!.dirty || editForm.get('modelo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('modelo')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="madmApp.insumo.responsavel" for="field_responsavel">Responsavel</label>
          <select class="form-control" id="field_responsavel" data-cy="responsavel" name="responsavel" formControlName="responsavel">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                responsavelOption.id === editForm.get('responsavel')!.value?.id ? editForm.get('responsavel')!.value : responsavelOption
              "
              *ngFor="let responsavelOption of responsavelsCollection; trackBy: trackResponsavelById"
            >
              {{ responsavelOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
